/* .navbar{
  display: flex;
  justify-content: flex-start;
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
button.badge{
  max-width: 1.5rem;
}
.logo{
  max-height: 15rem;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li{
  list-style-type: none;
  padding: 0.5rem;
  justify-content:flex-end;
  text-decoration: none;
}
img.small{
  max-height: 17rem;
}
.shop{
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.image{
  padding: 1rem;
} */


body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
}

.navbar {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #ecddad;
}
header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  max-height: 9rem;
  width: auto;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 57px;

  position: relative;
}

nav a {
  text-decoration: none;
  color: #444;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: #444;

  position:absolute;
  top: 0;

  transition: all ease-in-out 200ms;

}
nav a:hover::before {
  width: 100%;
}






button{
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem black solid;
  background-color: peru;
  width: 6rem;
  cursor: pointer;
}
