@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: auto;
}
html {
  height: 20rem;
}

body {
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
  font-weight: 400;
  background: rgb(191, 219, 241);
  height: 51rem;
}

.heading {
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #444444;
}

/*      ---       Slideshow Images         --- */
.intro {
  height: 85vh;
  position: relative;
}

.slideshow-img {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/*          ---        Nav Bar      ---          */
.navbar {
  width: 80%;
  margin: 0 auto;
  
}

header {
  background: #ecddad;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}
header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: 9rem;
  width: auto;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 4.3rem;
  padding-top: 3.5rem;

  position: relative;
}
.logged-user{
  display: inline-block;
  margin-left: 2rem;
  padding-top: 2rem;
  position: relative;
}

nav a {
  text-decoration: none;
  color: #444;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

nav a::before {
  content: '';
  display: block;
  height: .3rem;
  width: 0%;
  background-color: #444;

  position:absolute;
  top: 0;

  transition: all ease-in-out 200ms;

}
nav a:hover::before {
  width: 100%;
}


.btn-edit {
  padding: 0;
  margin: 0;
  border-radius: 0%;
  border: transparent;
  background-color: transparent;
  width: 25px;
  height:25px;
  color: forestgreen;
}

.btn-delete {
  padding: 0;
  margin: 0;
  border-radius: 0%;
  border: transparent;
  background-color: transparent;
  width: 25px;
  height:25px;
  color: red;
}

.btn-add {
  padding: 0;
  margin: 0;
  border-radius: 0%;
  border: transparent;
  background-color: transparent;
  width: 35px;
  height:35px;
  color: darkblue;
}

.tdLarge{
  min-width: 8rem;
  max-width: 8rem;
  height: 2rem;
  overflow: wrap;
  white-space: wrap;  
}

.tdSmall{
  min-width: 3rem;
  max-width: 3rem;
  height: 2rem;
  overflow: wrap;
  white-space: wrap;  
}

#footSpace {
  margin-bottom: 60px;
  visibility: hidden;
}

.adminLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {} /*green*/
.btn-danger {} /*red*/
.btn-info {} /*light blue*/

/*         ---         Footer         ---          */

.social-footer {
  left: 0;
  right: 0;
  bottom:0;
  padding: 1rem;
  background: #afaba2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.icons {
  max-height: 3.5rem;
  list-style-type: none;
  display: inline-block;
  margin: .4rem;
}

/* Buttons */
button{
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem black solid;
  background-color: #ecddad;
  width: 6rem;
  cursor: pointer;
}

.removeButton {
  background-color: rgb(238, 66, 66);
}


/*      ---       Login / Signup Pages      ---       */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #ecddad;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background:  rgb(139, 203, 255);;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color:#56b3ff;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.loginText {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #444444;
  
}



/*        ---       Product Store      ---      */

h3 {
  font-size: 2rem;
}
.productCard {
  position: relative;
  z-index: 0;
  background: #FFFFFF;
  max-width: 75rem;
  max-height: 24rem;
  margin: 0 auto 100px;
  padding: 2.5rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: 'Pacifico', cursive;
  display: flex;
}

.productImage {
max-height: 18rem;
max-width: auto;
}
.productImageBox {
width: 50%;
text-align: center;
}
.productCardText {
text-align: center;
padding: 15px;
width: 50%;
display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productButton button{
    text-transform: uppercase;
    outline: 0;
    background: #ecddad;
    width: 75%;
    border: 0;
    padding: 15px;
    color: #353535;
    font-size: 14px;
    cursor: pointer;
}
.productButton button:hover,.productButton button:active,.productButton button:focus {
  background:  rgb(139, 203, 255);;
}


/*      ---       Cart       ---       */
/*Added to be able to see the 
checkout button and order total in cart 
and profile pages because of footer*/
.cart{
  margin: 10rem;
}
.cart-button{
  max-width: 2rem;
}
.profile{
  margin: 10rem;
}
.profile-h1{
  display: flex;
  justify-content: center;
}
.cart-h1{
  display: flex;
  justify-content: center;
}
ul{
  list-style: none;
}
.orderTotal{
  text-align: center;
  font-size: 1.5rem;
}

.checkoutButton {
  text-transform: uppercase;
  outline: 0;
  background: #ecddad;
  width: 25%;
  border: 0;
  padding: 15px;
  color: #353535;
  font-size: 14px;
  cursor: pointer;
}

/*       ---       About Us       --- */

.aboutUs {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color:#444444;;
}
.imageBoxRedding {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  background: #FFFFFF;
  width: 75%;
  height: auto;
  padding: 2rem;
  margin: 0 auto 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: 'Pacifico', cursive;
  display: flex;
}
.imageRedding {
  height: auto;
  width: 100%;
}